.dropdown-menu.add-workshop-session-menu {
    min-width: 200px;
    left: 15px !important;
    top: 50px !important;
    padding: 1rem 0.25rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--ncgr_box-shadow);
    border: none;
    transition: all ease-in 0.15s;
    padding: 15px;
    min-height: 150px;
}

.dropdown-menu.add-workshop-session-menu li {
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding-bottom: 7px;
}

.dropdown-menu.add-workshop-session-menu li a {
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    font-weight: 500;
    color: var(--ncgr_txt_color-dark);
    text-decoration: none;
    transition: var(--ncgr_transition);
}

.dropdown-menu.add-workshop-session-menu li a img {
    width: 25px;
    fill: #166a45;
    filter: invert(33%) sepia(53%) saturate(496%) hue-rotate(101deg) brightness(93%) contrast(103%);
}

.dropdown-menu.add-workshop-session-menu li a:hover {
    color: var(--ncgr_dark_green_bg_color);
    background: rgba(0, 0, 0, 0.05);
    ;
}

.dropdown-menu_body {
    min-height: 200px;
}

.dropdown-menu_body h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu.add-workshop-session-menu.quiz-menu {
    width: 300px;
    top: -150px !important;
    left: 0;
    min-height: 150px;
    max-height: 150px;
}

.programs_content_section_workshop-session {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.section-workshop-session-title-img {
    display: inline-block;
    background: #ecfdf3;
    padding: 5px;
    border-radius: 3px;
}

.section-workshop-session-title-img img {
    width: 30px;
    fill: #166a45;
    filter: invert(33%) sepia(53%) saturate(496%) hue-rotate(101deg) brightness(93%) contrast(103%);
}

.section-workshop-session-icons-side {
    position: relative;
}

.section-workshop-session-icons-side img {
    width: 24px;
    fill: #000;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(150deg) brightness(90%) contrast(104%);
}

.section-workshop-session-tag {
    display: inline-block;
    background: #c0edd0;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;
}

.add-workshop-item {
    position: relative;
}