<!-- dashboard-side-menu.component.html -->
<div class="dashboard-side-menu">
    <ul class="list-unstyled">
        <li class="menu-title">روابط لوحة التحكم</li>
        <li>
            <a [routerLink]="['/dashboard']"><img src="01.svg" alt=""> لوحة التحكم</a>
        </li>
        <li>
            <a [routerLink]="['/forms']"><img src="02.svg" alt=""> النماذج</a>
        </li>
        <li>
            <a [routerLink]="['/profile']"><img src="03.svg" alt=""> الملف الشخصي</a>
        </li>
        <li>
            <a [routerLink]="['/settings']"><img src="04.svg" alt=""> الإعدادات</a>
        </li>
        <li>
            <a [routerLink]="['/help']"><img src="" alt=""> المساعدة</a>
        </li>
    </ul>
</div>
