<section class="academy_inner_page">
  <div class="inner_banner">
    <img src="inner-header.png" alt="" />
  </div>
  <div class="container">
    <div class="sm_inner_header">
      <div class="breadcrumb_inner">
        <ul>
          <li class="link_page">
            <a href="">الرئيسية</a> <img src="arrow_bread.svg" alt="" />
          </li>
          <li class="link_page">
            <a href="">خدمات التدريب</a> <img src="arrow_bread.svg" alt="" />
          </li>
          <li>البرامج التدريبية</li>
        </ul>
      </div>
      <div class="share_btns">
        <a href=""><img src="print.svg" alt="" /></a>
        <a href=""><img src="share.svg" alt="" /></a>
        <a href=""><img src="email-icon.svg" alt="" /></a>
      </div>
    </div>
    <div class="academy_title">
      <h5 class="title_text">البرامج التدريبية</h5>
      <div class="search_box">
        <div class="search_input">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="ابحث عن ..." />
        </div>
        <div class="dropdown">
          <button
            class="btn search_btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              focusable="false"
              color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))"
              style="
                user-select: none;
                width: 100%;
                height: 100%;
                display: inline-block;
                fill: var(
                  --token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25,
                  rgb(31, 31, 31)
                );
                color: var(
                  --token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25,
                  rgb(31, 31, 31)
                );
                flex-shrink: 0;
              "
            >
              <g
                color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))"
                weight="regular"
              >
                <path
                  d="M176,80a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H184A8,8,0,0,1,176,80ZM40,88H144v16a8,8,0,0,0,16,0V56a8,8,0,0,0-16,0V72H40a8,8,0,0,0,0,16Zm176,80H120a8,8,0,0,0,0,16h96a8,8,0,0,0,0-16ZM88,144a8,8,0,0,0-8,8v16H40a8,8,0,0,0,0,16H80v16a8,8,0,0,0,16,0V152A8,8,0,0,0,88,144Z"
                ></path>
              </g>
            </svg>
          </button>
          <ul class="dropdown-menu search_list_menu">
            <div class="sb_menu_data">
              <h6>نوع الحالة</h6>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">مسودة</label>
              </div>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">مسودة</label>
              </div>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">مسودة</label>
              </div>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">مسودة</label>
              </div>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">مسودة</label>
              </div>
              <h6>لغه البرنامج</h6>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">العربية</label>
              </div>
              <div class="input-form-check">
                <input type="checkbox" />
                <label for="">الانجليزيه</label>
              </div>
              <h6>الفئات المستهدفة</h6>
              <div class="slect_sbmenu">
                <select name="" id="">
                  <option value="" disabled>اختر</option>
                  <option value="">الفئه الاولي</option>
                  <option value="">الفئه الثانيه</option>
                  <option value="">الفئه الثالثه</option>
                </select>
              </div>
              <h6>المسار</h6>
              <div class="slect_sbmenu">
                <select name="" id="">
                  <option value="" disabled>اختر</option>
                  <option value="">الفئه الاولي</option>
                  <option value="">الفئه الثانيه</option>
                  <option value="">الفئه الثالثه</option>
                </select>
              </div>
              <h6>عدد المتدربين</h6>
              <div class="input-form-check">
                <input
                  type="radio"
                  id="up_l"
                  name="fav_language"
                  value="up_l"
                />
                <label for="up_l">تصاعدي</label>
              </div>
              <div class="input-form-check">
                <input
                  type="radio"
                  id="dawn_l"
                  name="fav_language"
                  value="dawn_l"
                />
                <label for="dawn_l">تنازلي</label>
              </div>
              <h6>تقييم</h6>
              <div class="input-form-check">
                <input
                  type="radio"
                  id="up_l1"
                  name="fav_language"
                  value="up_l1"
                />
                <label for="up_l1">تصاعدي</label>
              </div>
              <div class="input-form-check">
                <input
                  type="radio"
                  id="dawn_l1"
                  name="fav_language"
                  value="dawn_l1"
                />
                <label for="dawn_l1">تنازلي</label>
              </div>
            </div>
            <div class="submit_btn_style">
              <button class="applay">تطبيق</button>
              <button class="cancel">اعادة تعيين</button>
            </div>
          </ul>
        </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-md-4 mb-4" *ngFor="let course of courses">
          <div class="card_g">
            <div class="card_img">
              <img [src]="course.image" alt="" />
            </div>
            <div class="card_details_data">
              <div class="title_card">
                <h5>{{ course.title }}</h5>
                <span
                  ><i class="fa-solid fa-star"></i>
                  {{ course.ratingText }}</span
                >
              </div>
              <div class="government">
                <i class="fa-solid fa-building-ngo"></i>
                <span>{{ course.government }}</span>
              </div>
              <p>{{ course.description }}</p>
              <div class="all-rebort">
                <div class="edite_rebort">
                  <i class="fa-solid fa-retweet"></i>
                  <span>{{ course.reportText }}</span>
                </div>
                <div class="lang_card">
                  <i class="fa-solid fa-globe"></i>
                  <span>{{ course.language }}</span>
                </div>
              </div>
              <div class="log_card">
                <a href="">التسجيل</a>
                <span><i class="fa-regular fa-heart"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
