<div class="col-xxl-4 col-xl-6 trainee_general-programs-box-outer mt-2 mb-3 d-flex flex-column justify-content-between">
                            <div class="col upper-col">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-12 trainee_general-programs-photo-side mb-xl-0 mb-2">
                                        <img src="sample-dashboard-content_17.png" alt="">
                                    </div>
                                    <div class="col-xl-8 col-lg-12 ps-xl-0">
                                        <div class="row">
                                            <div class="col-12 trainee_general-programs-box-title pb-3">
                                                دبلوم الحوكمة المؤسسية


                                            </div>
                                            <div class="col-12 pb-2  pe-0" >
                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="التاريخ " class="pe-1" src="42.svg" width="28" alt="">
                                                <span class="d-inline-block">  2025-02-01
        
                                                    <img width="18" src="27.svg" alt=""> 2025-06-30
        
                                                </span>
                                            </div>



                                        </div>
                                        <div class="row pt-2 align-items-center">
                                            <div class="col-12 progress-bar-side">
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="نسبة الاتمام" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>

                                <div class="row p-0 pt-3">
                                    <div class="col-lg-6 mb-3">
                                        <img class="pe-1" src="47.svg" width="28" alt="">
                                        <span class="d-inline-block">  5 برامج تدريبية

                                        </span>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <img class="pe-1" src="48.svg" width="28" alt="">
                                        <span class="d-inline-block ">  3 ورش تدريبية



                                        </span>
                                    </div>

                                </div>
                                <div class="row pt-0 pt-1">
                                    <div class="col trainee_general-programs-box-tags">
                                        <div class="trainee_general-programs-tags-item">الحوكمة والشفافية



                                        </div>
                                        <div class="trainee_general-programs-tags-item"> بالعربية</div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-auto bottom-col mt-1">
                                <hr>
                                <div class="row ps-3 pe-3 pb-2 align-items-center text-center trainee_general-programs-box-btns">
                                    <div class="col border-end mb-2">
                                        <a aria-label="link" class="d-block p-2">
                                            <img class="d-inline-block" width="28" src="53.svg" alt="">
                                            <span class="d-inline-block"> محتوي البرنامج</span>

                                        </a>
                                    </div>
                                    <div class="col  mb-2">
                                        <a aria-label="link" href="certificate.pdf" target="_blank" class="d-block p-2">
                                            <img class="d-inline-block" width="28" src="54.svg" alt="">
                                            <span class="d-inline-block"> تحميل الشهادة</span>

                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>