<div class="card_workshops">
    <div class="card_workshops_img">
        <div class="bg_card_w_img">
            <img src="card_workshops-img.png" alt="">
        </div>
        <div class="workshops-tag">
            <span>حضورية</span>
        </div>
    </div>
    <div class="detals_workshops">
        <h5>مهارات إعداد التقارير الرقابية</h5>
        <ul class="workshops_list_details">
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_1.svg" alt="">
                    <em>الفئة المستهدفة</em>
                </div>
                <span>الأفراد</span>
            </li>
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_3.svg" alt="">
                    <em>عدد المتدربين</em>
                </div>
                <span> 0 متدرب</span>
            </li>
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_4.svg" alt="">
                    <em>التاريخ</em>
                </div>
                <span> 2025-02-10 <i class="fa-solid fa-arrow-left"></i> 2025-02-12</span>
            </li>
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_5.svg" alt="">
                    <em>الوقت</em>
                </div>
                <span>  8:00 ص - 9:00 ص</span>
            </li>
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_6.svg" alt="">
                    <em>المكان</em>
                </div>
                <span>
                  الرياض
                  <a href="">
                    <img src="sm_location.svg" alt="">
                  </a>
                </span>
            </li>
            <li>
                <div class="sm_icon_workshops">
                    <img src="workshops_icon_7.svg" alt="">
                    <em>اللغة</em>
                </div>
                <span>العربية</span>
            </li>
        </ul>
        <div class="sm_select_post">
            <span>غير منشورة</span>
            <i class="fa-solid fa-arrow-left"></i>
            <select name="" id="">
            <option value="">التغيير الي</option>
            <option value="">منشوره</option>
          </select>
        </div>
        <div class="footer_card">
            <div class="footer_card_icon">
                <a href="">
                    <img src="28_1.svg" alt="">
                    <span>تفاصيل</span>
                </a>
            </div>
            <div class="footer_card_icon">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); color: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); flex-shrink: 0;">
                <g color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" weight="regular">
                  <path d="M227.32,73.37,182.63,28.69a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H216a8,8,0,0,0,0-16H115.32l112-112A16,16,0,0,0,227.32,73.37ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.69,147.32,64l24-24L216,84.69Z"></path>
                </g>
              </svg>
                    <span>تعديل</span>
                </a>
            </div>
            <div class="footer_card_icon">
                <a href="">
                    <img src="38_22.svg" alt="">
                    <span>اعادة الجدولة</span>
                </a>
            </div>
            <div class="footer_card_icon">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); color: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); flex-shrink: 0;">
                <g color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" weight="regular">
                  <path d="M208,24H72A32,32,0,0,0,40,56V224a8,8,0,0,0,8,8H192a8,8,0,0,0,0-16H56a16,16,0,0,1,16-16H208a8,8,0,0,0,8-8V32A8,8,0,0,0,208,24ZM120,40h48v72L148.79,97.6a8,8,0,0,0-9.6,0L120,112Zm80,144H72a31.82,31.82,0,0,0-16,4.29V56A16,16,0,0,1,72,40h32v88a8,8,0,0,0,12.8,6.4L144,114l27.21,20.4A8,8,0,0,0,176,136a8,8,0,0,0,8-8V40h16Z"></path>
                </g>
              </svg>
                    <span>متطلبات الورشة</span>
                </a>
            </div>
            <div class="footer_card_icon">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); color: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); flex-shrink: 0;">
                <g color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" weight="regular">
                  <path d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"></path>
                </g>
              </svg>
                    <span>المتدربين</span>
                </a>
            </div>
            <div class="footer_card_icon">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); color: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); flex-shrink: 0;">
                <g color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" weight="regular">
                  <path d="M216,48H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM192,208H64V64H192ZM80,24a8,8,0,0,1,8-8h80a8,8,0,0,1,0,16H88A8,8,0,0,1,80,24Z"></path>
                </g>
              </svg>
                    <span>حذف</span>
                </a>
            </div>
        </div>
    </div>
</div>
