<div class="row justify-content-end">
  <div class="col-auto">
    <button
      class="btn btn-primary ps-3 pe-3"
      (click)="onAddProgram()"
      type="submit"
    >
      <img width="18" src="icons/21.svg" alt="" />
      انشاء برنامح
    </button>
  </div>
</div>
<div class="row mt-4" [formGroup]="searchForm">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="البحث عن برنامج ..."
      aria-label="البحث عن برنامج ..."
      aria-describedby="button-addon2"
      formControlName="programName"
    />
    <div class="dropdown search-options-btn_menu">
      <button
        aria-label="button"
        type="submit"
        class="d-flex align-items-center text-decoration-none dropdown-toggle position-relative search-options-btn btn btn-outline-secondary"
        id="dropdownUser2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="تصفية"
          width="32"
          src="icons/23.svg"
          alt=""
        />
      </button>
      <ul
        class="dropdown-menu shadow animate slideIn"
        aria-labelledby="dropdownUser2"
      >
        <li class="p-2 dropdown-menu_body">
          <h6>نوع الحالة</h6>
          <div class="d-flex justify-content-start align-items-center gap-2" formGroupName="status">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault1"
              formControlName="isActive"
            />
            <label class="form-check-label" for="flexCheckDefault1">
              مفعل
            </label>
          </div>
          <div class="d-flex justify-content-start align-items-center gap-2" formGroupName="status">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault2"
              formControlName="isNotActive"
            />
            <label class="form-check-label" for="flexCheckDefault2">
              غير مفعل
            </label>
          </div>
          
          <!-- لغة البرنامج -->
          <h6>لغة البرنامج</h6>
          <div class="d-flex justify-content-start align-items-center gap-2" formGroupName="language">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault9"
              formControlName="arabic"
            />
            <label class="form-check-label" for="flexCheckDefault9">
              العربية
            </label>
          </div>
          <div class="d-flex justify-content-start align-items-center gap-2" formGroupName="language">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault10"
              formControlName="english"
            />
            <label class="form-check-label" for="flexCheckDefault10">
              الانجليزية
            </label>
          </div>
          
          <h6>الفئة المستهدفة</h6>
          <div>
            <select class="form-select" aria-label="Default select example" formControlName="categoryId">
             <option value="0" disabled>اختر</option>
              <option *ngFor="let cat of category" [value]="cat.id">{{ cat.name }}</option>
            </select>
          </div>
          <h6>المسار</h6>
          <div>
            <select class="form-select" aria-label="Default select example"formControlName="pathId">
                <option value="0" disabled>اختر</option>
                <option *ngFor="let path of paths" [value]="path.id">{{ path.name }}</option>
            </select>
          </div>
          <h6>الوسوم</h6>
          <div>
            <select class="form-select" aria-label="Default select example"formControlName="tageId">
                        <option value="0" disabled>اختر</option>
                        <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
            </select>
          </div>
          <h6>عدد المتدربين</h6>
          <div class="d-flex justify-content-start align-items-center gap-2">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              تصاعدي
            </label>
          </div>
          <div class="d-flex justify-content-start align-items-center gap-2">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              تنازلي
            </label>
          </div>
          <h6>تقييم</h6>
          <div class="d-flex justify-content-start align-items-center gap-2">
            <input
              placeholder="input"
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault3"
            />
            <label class="form-check-label" for="flexRadioDefault3">
              تصاعدي
            </label>
          </div>
          <div class="d-flex justify-content-start align-items-center gap-2">
            <input
              placeholder="input"
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault4"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault4">
              تنازلي
            </label>
          </div>
        </li>
        <li class="pt-2 pb-2">
          <hr class="dropdown-divider" />
        </li>
        <li>
          <div class="p-2">
            <button type="button" class="btn btn-primary me-2" (click)="onLoadProgram()">تطبيق</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onResetFilters()">
              إعادة تعيين
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
