<div class="container-fluid">
  <div class="row ncgr-small-header">
    <img class="img-fluid w-100 p-0" src="inner-header.jpg" alt="" />
  </div>
</div>
<div class="container-fluid">
  <div class="row ncgr-main-area">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb_area">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  البرامج العامة
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Content | start -->
      <!-- Content | start -->

      <h1 class="mb-4">البرامج العامة</h1>

      <div class="row mt-4">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="البحث عن برنامج ..."
            aria-label="البحث عن برنامج ..."
            aria-describedby="button-addon2"
          />
          <div class="dropdown search-options-btn_menu">
            <button
              aria-label="button"
              type="submit"
              class="d-flex align-items-center text-decoration-none dropdown-toggle position-relative search-options-btn btn btn-outline-secondary"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="تصفية"
                width="32"
                src="23.svg"
                alt=""
              />
            </button>
            <ul
              class="dropdown-menu shadow animate slideIn"
              aria-labelledby="dropdownUser2"
            >
              <li class="p-2 dropdown-menu_body">
                <h6>لغة البرنامج</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault9"
                  />
                  <label class="form-check-label" for="flexCheckDefault9">
                    العربية
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault10"
                  />
                  <label class="form-check-label" for="flexCheckDefault10">
                    الانجليزية
                  </label>
                </div>
                <h6>الفئة المستهدفة</h6>
                <div>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>اختر</option>
                    <option value="1">الفئة الاولي</option>
                    <option value="2">الفئة الثانية</option>
                    <option value="3">الفئة الثالثة</option>
                  </select>
                </div>
                <h6>المسار</h6>
                <div>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>اختر</option>
                    <option value="1">مسار 1</option>
                    <option value="2">مسار 2</option>
                    <option value="3">مسار 3</option>
                  </select>
                </div>
                <h6>الوسوم</h6>
                <div>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>اختر</option>
                    <option value="1">وسم 1</option>
                    <option value="2">وسم 2</option>
                    <option value="3">وسم 3</option>
                  </select>
                </div>
              </li>
              <li class="pt-2 pb-2">
                <hr class="dropdown-divider" />
              </li>
              <li>
                <div class="p-2">
                  <button type="button" class="btn btn-primary me-2">
                    تطبيق
                  </button>
                  <button type="button" class="btn btn-outline-secondary">
                    إعادة تعيين
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <!-- general-programs- Box -->
        <div
          class="col-xxl-4 col-xl-6 general-programs-box-outer mt-2 mb-3 d-flex flex-column justify-content-between"
        >
          <div class="col upper-col">
            <div class="row p-0">
              <div class="col general-programs-header-part">
                <img src="sample-dashboard-content_26.jpeg" alt="" />
              </div>
            </div>
            <div class="general-programs-img-title row align-items-end ms-3">
              <div class="col-auto general-programs-photo-side mb-xl-0 mb-2">
                <img src="sample-dashboard-content_17.png" alt="" />
              </div>
              <div class="col general-programs-box-title ps-xl-0">
                <a href="all-general-info.html">دبلوم الحوكمة المؤسسية</a>
              </div>
            </div>

            <div class="row general-programs-meta ms-3 me-3">
              <div class="col-lg-7 mb-3 d-flex align-items-center gap-2">
                <img
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="التاريخ "
                  class="pe-1"
                  src="42.svg"
                  width="28"
                  alt=""
                />
                <span class="d-inline-block">
                  2025-02-01

                  <img width="18" src="27.svg" alt="" /> 2025-06-30
                </span>
              </div>
              <div class="col-lg-5 mb-3">
                <img
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="الفئة المستهدفة "
                  width="20"
                  src="24.svg"
                  alt=""
                />
                <span class="d-inline-block"> الجهات الحكومية </span>
              </div>

              <div class="col-lg-7 mb-3">
                <img class="pe-1" src="47.svg" width="28" alt="" />
                <span class="d-inline-block"> 5 برامج تدريبية </span>
              </div>
              <div class="col-lg-5 mb-3">
                <img class="pe-1" src="48.svg" width="28" alt="" />
                <span class="d-inline-block"> 3 ورش تدريبية </span>
              </div>
              <div class="col-lg-7 mb-3">
                <img class="pe-1" src="49.svg" width="28" alt="" />
                <span class="d-inline-block"> 40 مقعد </span>
              </div>
              <div class="col-lg-5 mb-3">
                <img class="pe-1" src="50.svg" width="28" alt="" />
                <span class="d-inline-block"> شهادة معتمدة </span>
              </div>
            </div>
            <div class="row general-programs-box-tags ms-3 me-3">
              <div
                class="col-auto general-programs-tags-item"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="المسار التدريبي"
              >
                <img src="100.svg" width="20" alt="" /> الحوكمة والشفافية
              </div>
              <div
                class="col-auto general-programs-tags-item"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=" لغة البرنامج"
              >
                <img src="45.svg" width="20" alt="" /> العربية
              </div>
            </div>
          </div>
          <div class="col-auto bottom-col">
            <hr />
            <div
              class="row align-items-center text-center general-programs-footerbox m-3"
            >
              <div
                class="col-xxl-auto col-xl-auto col-lg-auto col-md-auto col-sm-12 countdown-part"
              >
                <div class="row">
                  <div class="col countdown-msg text-start">
                    ينتهي التسجيل بعد
                  </div>
                </div>
                <div class="row countdown-inner">
                  <div class="col">
                    <div class="countdown-numb" id="cd-d">0</div>
                    <div class="countdown-unit">يوم</div>
                  </div>
                  <div class="col">
                    <div class="countdown-numb" id="cd-h">0</div>
                    <div class="countdown-unit">ساعة</div>
                  </div>
                  <div class="col">
                    <div class="countdown-numb" id="cd-m">0</div>
                    <div class="countdown-unit">دقيقة</div>
                  </div>
                  <div class="col">
                    <div class="countdown-numb" id="cd-s">0</div>
                    <div class="countdown-unit">ثانية</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- toasts  | Alert | 01 -->
    <div class="position-fixed top-0 start-0 p-3 z-index-11">
      <div
        id="liveToast01"
        class="toast hide toast-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <img src="108.svg" width="24" class="rounded me-2" alt="..." />
          <strong class="me-auto"> تنبيه</strong>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">
          فضلا قم بتسجيل الدخول اولا لتتمكن من تقديم طلب الالتحاق
        </div>
      </div>
    </div>

    <!-- toasts  | Alert | 02 -->
    <div class="position-fixed top-0 start-0 p-3 z-index-11">
      <div
        id="liveToast2"
        class="toast hide toast-1"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <img src="108.svg" width="24" class="rounded me-2" alt="..." />
          <strong class="me-auto"> تنبيه</strong>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">
          فضلا قم بتسجيل الدخول اولا لتتمكن من الاضافة الي المفضلة
        </div>
      </div>
    </div>

    <!-- Content | end -->
    <!-- Content | End -->
  </div>
</div>
