<section class="mt-4 mb-4">
    <div class="container-xxl">
        <div class="d-flex gap-4">
            <div class="">
                <app-side-bar />
            </div>
            <div class="flex-grow-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>الرئيسية</a></li>
                        <li class="breadcrumb-item"><a>الورش التدريبية </a></li>
                        <li class="breadcrumb-item active" aria-current="page">تسجيل الحضور</li>
                    </ol>
                </nav>
                <div class="row mt-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="mb-2">تسجيل الحضور</h1>
                    </div>
                </div>
                <p>
                    <span class="border-end border-start-0 border-3 pe-2">مقدمة في التقارير الرقابية: المفهوم والأهداف والأنواع</span>
                    <span class="ps-2">2025-02-10</span>
                </p>
                <div class="row mt-4">
                    <div class="input-group mb-3 flex gap-3">
                        <input type="text" class="form-control" placeholder="البحث عن متدرب ..."
                            aria-label="البحث عن متدرب ..." aria-describedby="button-addon2">
                        <div class="dropdown search-options-btn_menu ">
                            <button aria-label="button" type="submit"
                                class="d-flex align-items-center text-decoration-none dropdown-toggle position-relative search-options-btn btn btn-outline-secondary"
                                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">

                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="تصفية" width="32"
                                    src="icons/23.svg" alt="">

                            </button>
                            <ul class="dropdown-menu  shadow animate slideIn" aria-labelledby="dropdownUser2">
                                <li class="p-2 dropdown-menu_body">
                                    <h6>حالة الحضور</h6>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                        <label class="form-check-label" for="flexCheckDefault5">
                                            في انتظار رصد الحضور
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
                                        <label class="form-check-label" for="flexCheckDefault8">
                                            غائب
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
                                        <label class="form-check-label" for="flexCheckDefault8">
                                            حاضر
                                        </label>
                                    </div>
                                    
                                </li>
                                <li class="pt-2 pb-2">
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <div class="p-2">
                                        <button type="button" class="btn btn-primary me-2">تطبيق</button>
                                        <button type="button" class="btn btn-outline-secondary">إعادة
                                            تعيين</button>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                        <p>
                            <span class="border-end border-start-0 border-3 pe-2">عدد المتدربين : {{50}}</span>
                            <span class="border-end border-start-0 border-3 pe-2 ps-2">عدد الحضور : {{25}}</span>
                            <span class="ps-2">عدد الغياب : {{25}}</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <app-shared-table [data]="data" [columns]="columns" [actionsTemplate]="actionButtonsTemplate">
                            <ng-template #actionButtonsTemplate let-row>
                                <div class="d-flex">

                                    <div class="form-check">
                                        <input 
                                          class="form-check-input" 
                                          type="radio" 
                                          name="isPresent_{{row.id}}" 
                                          [id]="'radioPresent_' + row.id" 
                                          [value]="0"
                                          [checked]="row.isPresent === 0"
                                        />
                                        <label class="form-check-label" [for]="'radioPresent_' + row.id">
                                          حاضر
                                        </label>
                                      </div>
                                      
                                      <div class="form-check">
                                        <input 
                                          class="form-check-input" 
                                          type="radio" 
                                          name="isPresent_{{row.id}}" 
                                          [id]="'radioAbsent_' + row.id" 
                                          [value]="1"
                                          [checked]="row.isPresent === 1"
                                        />
                                        <label class="form-check-label" [for]="'radioAbsent_' + row.id">
                                          غائب
                                        </label>
                                      </div>
                                      
                                </div>
                            </ng-template>
                        </app-shared-table>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-end">

                            <button type="submit" id="toastbtn" class="btn btn-primary me-2 ps-4 pe-4">حفظ</button>
                        <button type="button" class="btn btn-outline-secondary ps-4 pe-4">إلغاء</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
