<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
    <li class="breadcrumb-item">
      <a href="#">خدمات التدريب</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      المسارات التدريبية
    </li>
  </ol>
</nav>

<h1>المسارات التدريبية</h1>

<div class="row justify-content-end">
  <div class="col-auto">
    <button
      class="btn btn-primary ps-3 pe-3"
      type="button"
      (click)="onAddTrack()"
    >
      <img width="18" src="/21.svg" alt="" />
      انشاء مسار
    </button>
  </div>
</div>
