<div class="container-fluid">
        <div class="row ncgr-small-header ">
            <img class="img-fluid w-100 p-0" src="inner-header.jpg" alt="">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row ncgr-main-area">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                                    <li class="breadcrumb-item"><a href="#">البرامج العامة </a></li>
                                    <li class="breadcrumb-item active" aria-current="page">تفاصيل البرنامج العام </li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
                <!-- Content | start -->
                <!-- Content | start -->

                <div class="row align-items-center">
                    <div class="col-md">
                        <h6 class="text-muted mb-1"> برنامج عام

                        </h6>
                        <h1> دبلوم الحوكمة المؤسسية

                        </h1>

                    </div>
                    <div class="col-md-auto">
                        <div class="reviews-box">
                            <span class="reviews-numb">0</span>
                            <span class="reviews-stars">
                                <img src="114.svg" width="20" alt="">
                                <img src="114.svg" width="20" alt="">
                                <img src="114.svg" width="20" alt="">
                                <img src="114.svg" width="20" alt="">
                                <img src="114.svg" width="20" alt="">
                            </span>
                            <span class="reviews-text">كن أول المقيميين</span>
                        </div>


                    </div>
                </div>



                <div class="row pt-2">
                    <div class="col-lg prog-info-data-side">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active border-end border-2 " id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="true">
                                           
                                            عن البرنامج
                                        </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link border-end border-2" id="pills-goals-tab" data-bs-toggle="pill" data-bs-target="#pills-goals" type="button" role="tab" aria-controls="pills-goals" aria-selected="false">
                                            
                                            اهداف البرنامج </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link border-end border-2" id="pills-requirements-tab" data-bs-toggle="pill" data-bs-target="#pills-requirements" type="button" role="tab" aria-controls="pills-requirements" aria-selected="false">
                                            
                                              متطلبات البرنامج
                                            </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link border-end border-2" id="pills-dates-tab" data-bs-toggle="pill" data-bs-target="#pills-dates" type="button" role="tab" aria-controls="pills-dates" aria-selected="false">
                                            
                                            مواعيد مهمة </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link border-end border-2" id="pills-topics-tab" data-bs-toggle="pill" data-bs-target="#pills-topics" type="button" role="tab" aria-controls="pills-topics" aria-selected="false">
                                            
                                             موضوعات البرنامج
                                        </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link border-end border-2" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">
                                            
                                            التقييمات
                                        </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-about-inner">
                                        <h4>عن البرنامج

                                        </h4>
                                        <p>يهدف برنامج "تطوير مهارات إعداد التقارير الرقابية" إلى تمكين المشاركين من اكتساب المهارات اللازمة لإعداد تقارير رقابية فعّالة تعزز الشفافية والجودة في بيئة العمل. يركز البرنامج على بناء المعرفة النظرية والعملية
                                            المتعلقة بالمفاهيم الرقابية، وأهميتها في تحسين الأداء واتخاذ القرارات المستنيرة.</p>
                                        <p>يتضمن البرنامج تدريباً شاملاً على كيفية جمع وتحليل البيانات، وتصميم تقارير دقيقة وموضوعية تسلط الضوء على النقاط الحرجة، إضافة إلى تقديم التوصيات المناسبة. كما يغطي البرنامج الجوانب الأساسية للتواصل الفعّال في عرض
                                            النتائج لضمان إيصال المعلومات بوضوح إلى أصحاب القرار.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-goals" role="tabpanel" aria-labelledby="pills-goals-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-goals-inner">
                                        <h4>أهداف البرنامج

                                        </h4>
                                        <ul>
                                            <li>فهم المبادئ الأساسية للحوكمة المؤسسية وأهميتها في تعزيز الاستدامة التنظيمية.</li>
                                            <li>تعلم كيفية تطبيق أفضل الممارسات العالمية في الحوكمة لضمان الشفافية والمساءلة.</li>
                                            <li>تطوير مهارات إعداد السياسات والإجراءات المتعلقة بالحوكمة.</li>
                                            <li>تعزيز الكفاءات في تصميم ومتابعة مؤشرات الأداء الرئيسية (KPIs) لضمان تحقيق الأهداف المؤسسية.</li>
                                            <li>بناء القدرة على تقييم المخاطر وإدارتها بما يحقق الامتثال والتوازن بين الأهداف المؤسسية.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-requirements" role="tabpanel" aria-labelledby="pills-requirements-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-requirements-inner">
                                        <h4>متطلبات البرنامج </h4>
                                        <p>
                                            للانضمام إلى البرنامج، يجب على المتقدمين استيفاء المتطلبات التالية:


                                        </p>
                                        <h5>أولاً: المؤهل العلمي</h5>
                                        <ul>
                                            <li>الحصول على درجة البكالوريوس في الإدارة، المحاسبة، القانون، أو أي مجال ذي صلة.</li>
                                            <li> يُمكن قبول المتقدمين من تخصصات أخرى بشرط وجود خبرة عملية ذات صلة.</li>
                                        </ul>
                                        <h5>ثانياً: الخبرة العملية</h5>
                                        <ul>
                                            <li> يُفضل أن يكون لدى المتقدم خبرة عملية لا تقل عن سنتين في مجال الإدارة، الحوكمة، أو الامتثال.</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-dates" role="tabpanel" aria-labelledby="pills-dates-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-dates-inner">
                                        <h4>مواعيد مهمة

                                        </h4>

                                        <p>
                                            <strong>
                                            مدة البرنامج: 
</strong> البرنامج يمتد على مدى 6 أشهر، ويشمل محاضرات نظرية، ورش عمل تطبيقية، ودراسات حالة..
                                        </p>

                                        <p>
                                            <img data-bs-toggle="tooltip" data-bs-placement="top" title="التاريخ " class="pe-1" src="42.svg" width="28" alt="">
                                            <span class="d-inline-block">
                                                يبدأ البرنامج بتاريخ: 2025/02/01
    
    
    
    
                                            </span>
                                        </p>
                                        <p>
                                            <img data-bs-toggle="tooltip" data-bs-placement="top" title="التاريخ " class="pe-1" src="42.svg" width="28" alt="">
                                            <span class="d-inline-block">
                                                ينتهي البرنامج بتاريخ: 2025/09/01
    
    
    
    
                                            </span>
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-topics" role="tabpanel" aria-labelledby="pills-topics-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-topics-inner">
                                        <h4>موضوعات البرنامج</h4>
                                        <div class="accordion-body">
                                            <!-- lecture Item -->
                                            <div class="row programs_content_section_lecture justify-content-between align-items-center">
                                                <div class="col-auto section-lecture-title-side">



                                                    <span class="d-inline-block ps-1 pe-2 section-lecture-title">
                                                            <span class="section-lecture-title-img" data-bs-toggle="tooltip" data-bs-placement="top" title=" برنامج تدريبي " >
                                                            <img  src="97.svg"  width="30" alt="">
                                                            </span>
                                                    <span class="ps-1 fw-500">
                                                                المفاهيم الاساسية للرقابة واعداد التقارير
                                                            </span>

                                                    </span>



                                                </div>


                                            </div>

                                            <!-- lecture Item -->
                                            <div class="row programs_content_section_lecture justify-content-between align-items-center">
                                                <div class="col-auto section-lecture-title-side">



                                                    <span class="d-inline-block ps-1 pe-2 section-lecture-title">
                                                            <span class="section-lecture-title-img" data-bs-toggle="tooltip" data-bs-placement="top" title="  ورشة تدريبية " >
                                                            <img  src="98.svg"  width="30" alt="">
                                                            </span>
                                                    <span class="ps-1 fw-500">
                                                            التدقيق والرقابة الداخلية
                                                            </span>

                                                    </span>



                                                </div>

                                            </div>

                                            <!-- lecture Item -->
                                            <div class="row programs_content_section_lecture justify-content-between align-items-center">
                                                <div class="col-auto section-lecture-title-side">



                                                    <span class="d-inline-block ps-1 pe-2 section-lecture-title">
                                                            <span class="section-lecture-title-img" data-bs-toggle="tooltip" data-bs-placement="top" title=" برنامج تدريبي " >
                                                            <img  src="97.svg"  width="30" alt="">
                                                            </span>
                                                    <span class="ps-1 fw-500">
                                                           اساسيات الامتثال المؤسسي
                                                            </span>

                                                    </span>



                                                </div>


                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                                <div class="row">
                                    <div class="col ps-3 pe-3 pills-requirements-inner">
                                        <h4>التقييمات
                                        </h4>
                                        <div class="reviews-cooment-box">

                                            <div class="reviews-box-none">
                                                لا يوجد تقييمات بعد
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-auto prog-info-box-side position-relative">
                        <div class="programs-box-outer">
                            <div class="programs-photo-side">
                                <img src="sample-dashboard-content_17.png" alt="">
                            </div>
                            <div class="col-auto countdown-part">
                                <div class="row">
                                    <div class="col countdown-msg text-center pt-0 p-3">ينتهي التسجيل بعد</div>
                                </div>
                                <div class="row countdown-inner text-center pb-3">
                                    <div class="col">
                                        <div class="countdown-numb" id="cd-d">12</div>
                                        <div class="countdown-unit">يوم</div>
                                    </div>
                                    <div class="col">
                                        <div class="countdown-numb" id="cd-h">73</div>
                                        <div class="countdown-unit">ساعة</div>
                                    </div>
                                    <div class="col">
                                        <div class="countdown-numb" id="cd-m">1</div>
                                        <div class="countdown-unit">دقيقة</div>
                                    </div>
                                    <div class="col">
                                        <div class="countdown-numb" id="cd-s">18</div>
                                        <div class="countdown-unit">ثانية</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row programs-box-btns-area ps-3 align-items-center">
                                <a aria-label="link" class="d-block col btn btn-primary ps-1 pe-1 me-1" href="#">تقديم طلب التحاق</a>
                                <a id="toastbtn" aria-label="link" class="d-block col-auto toastbtn Favoritebtn me-2">
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="اضف الي المفضلة" src="107.svg" width="38" alt="">
                                </a>
                            </div>
                            <div class="programs-data-side">
                                <p class="mt-2 fw-500">
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="تكلفة الورشة" src="111.svg" width="24" alt=""> <span>700</span> <img data-bs-toggle="tooltip" data-bs-placement="top" title=" ريال سعودي"
                                        src="Saudi_Riyal_Symbol.svg" width="24" alt="">
                                </p>
                                <hr>
                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="الفئة المستهدفة " class="pe-1" src="40.svg" width="28" alt="">
                                    <span class="d-inline-block">
                                                الجهات الحكومية


    
    
                                            </span>
                                </p>

                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="المسار التدريبي " class="pe-1" src="100.svg" width="26" alt="">
                                    <span class="d-inline-block">
                                                الحوكمة والشفافية
                                            </span>
                                </p>

                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="البرامج التدريبية " class="pe-1" src="97.svg" width="28" alt="">
                                    <span class="d-inline-block">
                                                3 برامج تدريبية
                                            </span>
                                </p>


                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="الورش التدريبية " class="pe-1" src="98.svg" width="28" alt="">
                                    <span class="d-inline-block">
                                                2 ورشة تدريبية
                                            </span>
                                </p>



                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="لغة الجلسات " class="pe-1" src="45.svg" width="28" alt="">
                                    <span class="d-inline-block">
                                               باللغة العربية


    
    
                                            </span>
                                </p>
                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="الشهادة " class="pe-1" src="50.svg" width="28" alt="">
                                    <span class="d-inline-block">
                                               منتهية بشهادة
    
    
    
    
                                            </span>
                                </p>
                                <p>
                                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="  الوسوم " src="113.svg" width="22" alt=""> <span>
                                        <a href="#">امتثال_مؤسسي</a>
                                    
    
                                    </span>
                                </p>

                            </div>



                        </div>
                    </div>
                </div>


            </div>
            <!-- toasts  | modify workshop status | Success -->
            <div class="position-fixed top-0 start-0 p-3 z-index-11">
                <div id="liveToast2" class="toast hide toast-1" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="108.svg" width="24" class="rounded me-2" alt="...">
                        <strong class="me-auto"> تنبيه</strong>

                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        فضلا قم بتسجيل الدخول اولا لتتمكن من الاضافة الي المفضلة
                    </div>
                </div>
            </div>


            <!-- Content | end -->
            <!-- Content | End -->

        </div>
    </div>