<div class="modal fade" [class.show]="isOpen" [style.display]="isOpen ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header m_header">
          <h1 class="modal-title modal_title">
            <img src="acc_icon_5.svg" alt="">
            <span>تأكيد الحذف</span>
          </h1>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="form_modal">
            <p>هل أنت متأكد من رغبتك في حذف قسم "{{sectionTitle}}" ؟</p>
            <p>سيتم حذف القسم وما يحتويه من محاضرات بشكل دائم ولن تتمكن من استعادتها.</p>
            <p>اضغط "تأكيد الحذف" لإكمال العملية أو "إلغاء" للتراجع.</p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="modal_f_btns">
            <button type="button" class="add" (click)="onConfirm()">تاكيد</button>
            <button type="button" (click)="closeModal()">الغاء</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" [class.show]="isOpen" [style.display]="isOpen ? 'block' : 'none'"></div>