<nav aria-label="breadcrumb my-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
    <li class="breadcrumb-item">
      <a href="#">خدمات التدريب</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">المحتوى التدريبي</li>
  </ol>
</nav>

<h1 class="my-3">المحتوي التدريبي</h1>
<h6 class="sm_text">برنامج: {{ programTitle }}</h6>

<div class="row justify-content-end my-3">
  <div class="col-auto">
    <button
      class="btn btn-primary ps-3 pe-3"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addsection"
    >
      <img width="18" src="/21.svg" alt="" />
      إضافة قسم
    </button>
  </div>
</div>
