<h6>مواعيد مهمة</h6>
<ul class="list-unstyled">
    <li class="mb-3 d-flex gap-3">
        <img src="icons/52.svg" alt="" width="25">
        تبدأ الورشة بتاريخ: 2025/01/15
    </li>
    <li class="mb-3 d-flex gap-3">
        <img src="icons/52.svg" alt="" width="25">
        تنتهي الورشة بتاريخ: 2025/01/20
    </li>
    <li class="mb-3 d-flex gap-3">
        <img src="icons/52.svg" alt="" width="25">
        بتوقيت: 8:00 ص - 9:00 ص
    </li>
    <li class="mb-3 d-flex gap-3">
        <img src="icons/52.svg" alt="" width="25">
        المكان: الرياض
    </li>
</ul>