<section class="mt-4 mb-4">
    <div class="container-xxl">
        <div class="d-flex gap-4">
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                                <li class="breadcrumb-item"><a href="#">خدمات التدريب</a></li>
                                <li class="breadcrumb-item active" aria-current="page">الورش التدريبية

                                </li>
                            </ol>
                        </nav>
                        <h1>الورش التدريبية</h1>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary ps-3 pe-3" type="submit"
                                [routerLink]="['/workshops/create']"><img width="18" src="icons/21.svg" alt=""> انشاء
                                ورشة </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="input-group mb-3 flex gap-3">
                        <input type="text" class="form-control" placeholder="البحث عن ورشة ..."
                            aria-label="البحث عن ورشة ..." aria-describedby="button-addon2">
                        <div class="dropdown search-options-btn_menu ">
                            <button aria-label="button" type="submit"
                                class="d-flex align-items-center text-decoration-none dropdown-toggle position-relative search-options-btn btn btn-outline-secondary"
                                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">

                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="تصفية" width="32"
                                    src="icons/23.svg" alt="">

                            </button>
                            <ul class="dropdown-menu  shadow animate slideIn" aria-labelledby="dropdownUser2">
                                <app-workshop-filter (onFilter)="onFilter($event)"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <!-- Loading State -->
                    @if(isLoading){
                    <div class="text-center mt-4">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    }
                    @for (item of workshops; track $index) {
                    <div
                        class="col-xxl-4 col-xl-6 workshops-box-outer mt-2 mb-3 p-0 d-flex flex-column justify-content-between overflow-hidden">
                        <app-workshop-item [workshop]="item" (onModel)="onModel($event)"
                            (onChangeStatus)="onChangeStatus()" [workshopTypes]="workshopTypes"></app-workshop-item>
                    </div>
                    }
                    <!-- <app-shared-pagination [pageNumber]="currentPage"
                    [pageCount]="totalPages" (pageChange)="onPageChange($event)"/> -->
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            @if (model) {
            <div class="modal-header">
                <div>
                    <h5 class="modal-title d-flex" id="exampleModalLabel">
                        @if (model !== 'rescheduling') {
                        <img src="33.svg" alt="" width="22">
                        }
                        {{ model === 'rescheduling' ? 'إعادة جدولة الورشة' : 'تأكيد الحذف' }}
                    </h5>
                    @if (model === 'rescheduling') {
                    <p class="mb-0 fs-6 text-dark">أدوات قياس الأداء المؤسسي</p>
                    }
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
            </div>

            <div class="modal-body">
                @if (model === 'rescheduling') {
                <app-workshop-rescheduling />
                } @else {
                <p>
                    هل أنت متأكد من رغبتك في حذف "مسار الموارد البشرية"؟ سيتم حذف البيانات بشكل دائم ولن تتمكن من
                    استعادتها.
                    اضغط "تأكيد الحذف" لإكمال العملية أو "إلغاء" للتراجع.
                </p>
                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                    <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="onDelete()">تأكيد
                        الحذف</button>
                </div>
                }
            </div>
            }
        </div>
    </div>
</div>