/* ------------------------| search | inner |------------------------ */

.search-options-btn {
    width: 50px;
    height: 50px;
    text-align: center;
}

.search-options-btn::after {
    display: none;
}

.dropdown-menu_body {
    height: 300px;
    overflow: auto;
}

.dropdown-menu_body h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.workshops-box-outer {
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: var(--ncgr_box-shadow);
    width: calc(25% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
}

.workshops-box-outer p {
    margin-bottom: 10px;
}

/* ====================================================================================================
Responcive Cases |----------------------------- |
================================================================= */

@media only screen and (max-width:1400px) {
    /* ------------------------| workshops |------------------------ */
    .workshops-box-outer {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 992px) {
    /* ------------------------| workshops |------------------------ */
    .workshops-box-outer {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width:768px) {
    /* ------------------------| workshops |------------------------ */
    .workshops-box-outer {
        width: calc(100% - 20px);
    }
}