<div [formGroup]="form" [class]="parentStyleClass">
    @for (field of fields; track $index) {
    @if (shouldShowField(field)) {
    @switch (field.type) {
    @case ('text') {
    <!-- Text Field -->
    <app-df-input-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!">
    </app-df-input-field>
    }
    @case ('select') {
    <!-- Select Field -->
    <app-df-select-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!" [options]="field.options">
    </app-df-select-field>
    }
    @case ('editor') {
    <!-- Editor Field -->
    <app-df-editor-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!">
    </app-df-editor-field>
    }
    @case ('file') {
    <!-- File Field -->
    <app-df-file-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!">
    </app-df-file-field>
    }
    @case ('radio') {
    <!-- Radio Field -->
    <app-df-radio-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!" [options]="field.options">
    </app-df-radio-field>
    }
    @case ('date') {
    <!-- Date Field -->
    <app-df-date-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!" [minDate]="field.minDate" [maxDate]="field.maxDate"
        [dateFormat]="field.dateFormat">
    </app-df-date-field>
    }
    @case ('time') {
    <!-- Time Field -->
    <app-df-time-field [id]="field.key!" [label]="field.label!" [class]="field.styleClass"
        [placeholder]="field.placeholder" [control]="form.get(field.key!)" [required]="isRequired(field)"
        [formControlName]="field.key!" [maxTime]="field.maxTime" [minTime]="field.minTime" [step]="field.step"
        [timeFormat]="field.timeFormat" [showTimeFormat]="field?.showTimeFormat">
    </app-df-time-field>
    }
    @default {
        <div [class]="field.styleClass"></div>
    }
    }
    }
    }

</div>