<div
  class="ncgr-r03-hero carousel slide p-0 m-0"
  id="carouselExampleIndicators"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="#"
        ><img
          src="header-slides/Row03-Header_01.jpg"
          class="d-block w-100"
          alt="..."
      /></a>
    </div>
    <div class="carousel-item">
      <a href="#"
        ><img
          src="header-slides/Row03-Header_02.jpg"
          class="d-block w-100"
          alt="..."
      /></a>
    </div>
    <div class="carousel-item">
      <a href="#"
        ><img
          src="header-slides/Row03-Header_03.jpg"
          class="d-block w-100"
          alt="..."
      /></a>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid">
  <div class="row ncgr-r04-welcome">
    <div class="container-xxl">
      <div class="row align-items-center">
        <div class="col-lg-8 pe-5">
          <h1>مرحبا بكم</h1>
          <h2>في أكاديمية المركز الوطني لنظم الموارد الحكومية</h2>
          <h4>بوابتكم لتجربة تعليمية مميزة</h4>
          <h5 class="justify-txt">
            المنصة التدريبية للمركز الوطني لنظم الموارد الحكومية هي أداة تعليمية
            متقدمة تهدف إلى تمكين الأفراد والجهات الحكومية من تطوير مهاراتهم
            ومعارفهم في مجالات نظم الموارد الحكومية.
          </h5>
          <h5 class="justify-txt">
            تقدم المنصة مجموعة متنوعة من البرامج التدريبية المصممة خصيصًا لتلبية
            احتياجات المتدربين، سواء عبر الدورات الذاتية أو الورش التدريبية
            الحضورية والافتراضية. كما تتيح المنصة مرونة في التعلم من خلال محتوى
            تعليمي شامل ومتاح بشكل متجاب متناسب مع الأجهزة الذكية. نهدف من خلال
            هذه المنصة إلى تعزيز الكفاءة المهنية ودعم التحول الرقمي، بما يتماشى
            مع أهداف رؤية المملكة 2030.
          </h5>
          <a href="about.html" class="btn btn-primary btn-lg mt-4" type="submit"
            >تعرف أكثر ...</a
          >
        </div>
        <div class="col-lg-4">
          <img class="img-fluid" src="welcome/welcome-imgs.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ncgr-r05-news">
    <div class="container-xxl">
      <div class="row align-items-center">
        <div class="col">
          <h1>أخبارنا</h1>
          <h6>
            تابع آخر المستجدات وأهم الأخبار حول المبادرات والبرامج التدريبية،
            واطلع على مقالات ملهمة وفرص تسجيل مميزة
          </h6>
        </div>
        <div class="col-auto">
          <a href="all-news.html" class="btn btn-light">عرض الكل</a>
        </div>
      </div>
      <div class="row mt-2">
        <!-- news Item -->
        <div class="row ncgr-home-news-box">
          <div
            class="col-md-7 news-data-side d-flex flex-column justify-content-between"
          >
            <div class="col upper-col">
              <p class="home-newsbox-title">برامجنا التدريبية المميزة</p>
              <p class="home-newsbox-brif">
                اكتشف مجموعة متنوعة من البرامج التدريبية الحضورية المصممة لتطوير
                مهاراتك وبناء مستقبلك المهني. سجل الآن لتأمين مقعدك!
              </p>
            </div>
            <div class="col-auto bottom-col mt-3">
              <a href="all-news-info.html" class="btn btn-primary btn-lg mt-2"
                >عرض المزيد</a
              >
            </div>
          </div>
          <div class="col-md-5 news-photo-side">
            <img src="news/news-Photo-01.jpg" alt="" />
          </div>
        </div>
        <!-- news Item -->
        <div class="row ncgr-home-news-box">
          <div
            class="col-md-7 news-data-side d-flex flex-column justify-content-between"
          >
            <div class="col upper-col">
              <p class="home-newsbox-title">مبادرتنا التدريبية</p>
              <p class="home-newsbox-brif">
                اكتشف مجموعة متنوعة من البرامج التدريبية الحضورية المصممة لتطوير
                مهاراتك وبناء مستقبلك المهني. سجل الآن لتأمين مقعدك!
              </p>
            </div>
            <div class="col-auto bottom-col mt-3">
              <a class="btn btn-primary btn-lg mt-2">عرض المزيد</a>
            </div>
          </div>
          <div class="col-md-5 news-photo-side">
            <img src="news/news-Photo-02.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ncgr-r06-statistics">
    <div class="container-xxl">
      <div class="row align-items-center mb-4">
        <div class="col">
          <h1>لمحة عن إنجازاتنا</h1>
          <h6>
            أهم الإحصائيات التي تعكس حجم التأثير والنجاح الذي حققه المركز في
            مجال التدريب
          </h6>
        </div>
        <div class="col-auto">
          <span class="home-statistics-date">الثلاثاء 08 أبريل 2025</span>
        </div>
      </div>
      <div class="row ncgr-home-stat-r mt-2">
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/01.png" alt="" />
          </div>
          <div class="stat-box-numb">+70</div>
          <div class="stat-box-title">برنامج تدريبي</div>
        </div>
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/02.png" alt="" />
          </div>
          <div class="stat-box-numb">+5530</div>
          <div class="stat-box-title">متدرب</div>
        </div>
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/03.png" alt="" />
          </div>
          <div class="stat-box-numb">+20</div>
          <div class="stat-box-title">برنامج دبلوم</div>
        </div>
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/04.png" alt="" />
          </div>
          <div class="stat-box-numb">+30</div>
          <div class="stat-box-title">ورشة تدريبية</div>
        </div>
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/05.png" alt="" />
          </div>
          <div class="stat-box-numb">+200</div>
          <div class="stat-box-title">شهادة معتمدة</div>
        </div>
        <div
          class="col align-items-center justify-content-center ncgr-home-stat-box"
        >
          <div class="stat-box-icon">
            <img src="statistics/06.png" alt="" />
          </div>
          <div class="stat-box-numb">+10</div>
          <div class="stat-box-title">شراكة تدريب</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ncgr-r07-partners">
    <div class="container-xxl">
      <div class="row align-items-center pb-3">
        <div class="col">
          <h1>الجهات الأكثر تفاعلًا</h1>
          <h6>
            تعرف على الجهات الأكثر تفاعلًا على منصتنا، والتي تميزت بمشاركتها
            الفعّالة في البرامج التدريبية وتحقيقها لأعلى معدلات الإنجاز
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="lc-block">
            <div
              id="carouselLogos"
              class="carousel slide row align-items-center"
              data-bs-ride="carousel"
            >
              <div class="col-auto">
                <a
                  class="carousel-control-prev position-relative d-inline me-4"
                  href="#carouselLogos"
                  data-bs-slide="prev"
                >
                  <img src="icons/arrow_black_r.png" alt="" />
                  <span class="visually-hidden">السابق</span>
                </a>
              </div>
              <div class="col carousel-inner px-1">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/expro.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/HRlogo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/LGPAlogo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/mcit-logo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/mod.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/MOFlogo.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/expro.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/HRlogo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/LGPAlogo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/mcit-logo.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/mod.png"
                        alt=""
                      />
                    </div>
                    <div class="col-6 col-lg-2 align-self-center">
                      <img
                        class="d-block w-100 px-3 mb-3"
                        src="partners/MOFlogo.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <a
                  class="carousel-control-next position-relative d-inline"
                  href="#carouselLogos"
                  data-bs-slide="next"
                >
                  <img src="icons/arrow_black_l.png" alt="" />
                  <span class="visually-hidden">التالي</span>
                </a>
              </div>
            </div>
          </div>
          <!-- /lc-block -->
        </div>
        <!-- /col -->
      </div>
    </div>
  </div>
</div>
