.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/");
  margin-left: 12px;
}
/* ------------------------| search | inner |------------------------ */

.search-options-btn {
  width: 50px;
  height: 50px;
  text-align: center;
}

.search-options-btn::after {
  display: none;
}

.dropdown-menu_body {
  height: 250px;
  overflow: auto;
}

.dropdown-menu_body h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------------------------| after login | admin | paths |------------------------ */

.tags_paths-box-outer {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.2);
  width: calc(33.33% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 10px;
}

.tags_paths-box-outer .container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.tags_paths-title {
  color: #166a45;
  font-size: 1.3rem;
  font-weight: 700;
}

.tags_paths_point {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e5e7eb;
}

.tags_paths_point.on {
  background: #079455;
}

.tags_paths_point.off {
  background: #e5e7eb;
}

.tags_paths-photo-side {
  height: 120px;
}

.tags_paths-photo-side img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tags_paths-tags-item {
  font-size: 1rem;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 5px 3px;
  background: #d1e9ff;
}

.tags_paths-btns a {
  color: #166a45;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all ease-in 0.15s;
}

.tags_paths-btns a:hover {
  background-color: #e5e7eb;
  transition: all ease-in 0.15s;
}

/* ====================================================================================================
Responcive Cases |----------------------------- |
================================================================= */

@media only screen and (max-width: 992px) {
  /* ------------------------| paths |------------------------ */
  .tags_paths-box-outer {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* ------------------------| paths |------------------------ */
  .tags_paths-box-outer {
    width: calc(100% - 10px);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.table-fixed tbody tr td {
  width: 100px;
  min-width: 80px;
  max-width: 90px;
  font-size: 13px;
}

.table-fixed th,
.table-fixed td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-no-vertical-lines tbody td {
  border-left: none;
  border-right: none;
}

.horizontal-separator-line {
  width: 3px;
  height: 23px;
  background-color: rgb(210, 214, 219);
  margin: 0 5px;
  align-self: center;
}

.circle {
  top: 8px;
  z-index: 1;
  width: 8px;
  right: 5px;
  flex: none;
  opacity: 1;
  height: 8px;
  overflow: visible;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(212, 168, 68);
}

.mr-10 {
  margin-right: 10px;
}

.name-style {
  color: rgb(22, 106, 69);
  cursor: help;
}

.c-green {
  color: rgb(22, 106, 69);
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: all ease-in 0.15s;

}

.c-green:hover {
  transform: scale(0.9);

}


.dialog{
  color: #fff;
  align-items: center;
  background-color: #0000008c;
  border-radius: 6px;
  box-shadow:0 10px 20px #0000000d;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  width: min-content;

}


.dialog {
    color: #fff;
    background-color: #0000008c;
    border-radius: 6px;
    box-shadow: 0 10px 20px #0000000d;
    cursor: pointer; 
    padding: 10px;
    font-size: 9px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: min-content;
    top: calc(54% + 5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.image-with-dialog-wrapper:hover .dialog {
    opacity: 1;
    visibility: visible;
}

.btn-success {
  --bs-btn-bg: rgb(245, 245, 245);
  --bs-btn-hover-bg: rgb(245, 245, 245);
  --bs-btn-color: rgb(22, 106, 69);
}

.btn-success:hover {
  background-color: rgb(230, 230, 230) !important;
  color: rgb(22, 106, 69);

}

.btn-secondary {
  background-color: rgb(22, 106, 69) !important;
  --bs-btn-bg: rgb(245, 245, 245);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-secondary:hover {
  background-color: rgb(128, 81, 159) !important;

  --bs-btn-bg: rgb(245, 245, 245);

}