<div [class]="styleClass">
    @if (label) {
    
        <label [for]="id" class="form-label">
          {{ label }}
          @if(required){
              <span>*</span>
          }
        </label>
    }
    @for (option of options; track $index) {
        <div class="custom-radio">
            <input
            [id]="id+'_'+$index"
            type="radio"
            [name]="id"
            [value]="option?.value"
            [placeholder]="placeholder || ''"
            [disabled]="disabled"
            (change)="onSelect($event)"
            (blur)="onTouched()"
            [ngClass]="{
              'is-invalid':control?.touched && control?.invalid
            }"
            />
            <label for="arabic">{{option?.label}}</label>
          </div>
    }
  </div>
 <!-- Validation Messages -->
  <field-validation [control]="control" />