<div class="container-fluid">
  <div class="row ncgr-r08-big-footer">
    <div class="container-xxl">
      <div class="row pb-5">
        <div class="col-lg-3 col-md-6">
          <div class="big-footer-col-title">نظرة عامة</div>
          <ul class="nav flex-column li big-footer-col-links">
            <li class="nav-item">
              <a href="#" class="nav-link p-0"> عن المنصة</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link p-0">الاخبار والأحداث</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="big-footer-col-title">خدمات التدريب</div>
          <ul class="nav flex-column li big-footer-col-links">
            <li class="nav-item">
              <a href="#" class="nav-link p-0">البرامج التدريبية</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link p-0">البرامج العامة</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link p-0">الورش التدريبية</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link p-0">المسارات التدريبية</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="big-footer-col-title">روابط مهمة</div>
          <ul class="nav flex-column li big-footer-col-links">
            <li class="nav-item">
              <a href="#" class="nav-link p-0">مركز الوسائط </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link p-0">التحقق من الشهادة</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="big-footer-col-title">للمتابعة والتواصل المباشر</div>
          <div class="btns">
            <button type="button" class="btn btn-outline-light me-2">
              <img src="icons/twitter.png" alt="icon" />
            </button>
            <button type="button" class="btn btn-outline-light me-2">
              <img src="icons/linkedin.png" alt="icon" />
            </button>
            <button type="button" class="btn btn-outline-light">
              <span class="hide-on-collapse">19990</span>
              <img src="icons/tel.png" alt="icon" />
            </button>
          </div>
          <div class="big-footer-col-title mt-5">أدوات الاتاحة والوصول</div>
          <div class="btns">
            <button type="button" class="btn btn-outline-light me-2">
              <img src="icons/icon-eye.png" alt="icon" />
            </button>
            <button type="button" class="btn btn-outline-light me-2">
              <img src="icons/zoom-in_2.png" alt="icon" />
            </button>
            <button type="button" class="btn btn-outline-light">
              <img src="icons/zoo-out_2.png" alt="icon" />
            </button>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-auto pb-3">
          <div class="footer-copyr-01 mb-3"><a href="">خريطة الموقع</a></div>
          <div class="footer-copyr-02 mb-3">
            جميع الحقوق محفوظة – المركز الوطني لنظم الموارد الحكومية © 2025
          </div>
          <div class="footer-copyr-03">
            تاريخ آخر تعديل: 04/04/2025 - 4:13 م بتوقيت السعودية
          </div>
        </div>
        <div class="col-auto pb-3">
          <a aria-label="link" href="#" class="d-inline-block me-4"
            ><img src="footer-logo-03.png" alt=""
          /></a>
          <a aria-label="link" href="#" class="d-inline-block me-4"
            ><img src="footer-logo-02.png" alt=""
          /></a>
          <a aria-label="link" href="#" class="d-inline-block"
            ><img src="footer-logo-01.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
