<div class="col upper-col p-0">
    <div class="row position-relative p-0 m-0">
        <div class="col-12 workshops-photo-side p-0 m-0">
            <img [src]="workshop?.workshopPicturePath" alt="">
        </div>
        <div class="workshops-tag me-3">
            {{workshop?.trainerTypeName}}


        </div>
    </div>
    <div class="row ps-3 pe-3">
        <h5 class="pt-3"> {{workshop?.titleAr}}

        </h5>
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="المدرب " class="pe-1" src="icons/39.svg"
                width="28" alt="">
            <span class="d-inline-block">{{workshop?.trainerNameAr}}

            </span>
        </p>
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="الفئة المستهدفة " class="pe-1"
                src="icons/40.svg" width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.categoryName}}


            </span>
        </p>
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="عدد المتدربين " class="pe-1" src="icons/41.svg"
                width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.trainerCount}} متدرب




            </span>
        </p>
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="التاريخ " class="pe-1" src="icons/42.svg"
                width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.startDate|date:'dd-MM-yyyy'}} <img width="18" src="icons/27.svg" alt="">
                {{workshop?.endDate|date:'dd-MM-yyyy'}}
            </span>
        </p>
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="الوقت " class="pe-1" src="icons/43.svg"
                width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.startTime}} - {{workshop?.endTime}}




            </span>
        </p>
        <!-- <p [class.invisible]="!workshop?.WorkShopLink">
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="المكان " class="pe-1" src="icons/44.svg"
                width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.cityNameAr}}


            </span>
            <a rel="noopener" aria-label="link" href="{{workshop?.WorkShopLink}}" target="_blank"><img class="pe-1"
                    src="icons/46.svg" width="20" alt=""></a>
        </p> -->
        <p>
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="اللغة " class="pe-1" src="icons/45.svg"
                width="28" alt="">
            <span class="d-inline-block">
                {{workshop?.languageName}}


            </span>
        </p>
        <!-- Progress For Trainee -->
        <!-- <div class="d-flex align-items-center gap-2">
            <div class="progress p-0" role="progressbar" aria-label="Example with label" style="height: 8px;width:100%"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 25%"></div>
            </div>
            <span>25%</span>
        </div> -->
    </div>
</div>
<div class="col-auto bottom-col mt-3">
    <div class="row ps-3 pe-3 align-items-center">
        <div class="col-auto "> {{workshop?.typeName}}

            <img width="20" src="icons/27.svg" alt="">
        </div>
        <div class="col">
            <select id="mySelect" class="form-select" aria-label="Default select example" (change)="onChange($event,workshop?.id)">
                <option value="" disabled selected>التغيير الي ...</option>
                @for (option of workshopTypes; track $index) {
                <option [value]="option.id">
                    {{ option.name }}
                </option>
                }

            </select>
        </div>

    </div>
    <hr class="mt-3">
    <div class="row p-1 m-0 align-items-center text-center programs-box-btns">
        <div class="col p-0 border-end mb-2">
            <a aria-label="link" href="#" class="d-block p-1" [routerLink]="['/workshops', workshop?.id]"><img
                    width="24" src="icons/28.svg" alt="" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="تفاصيل "></a>
        </div>
        <div class="col p-0 border-end mb-2">
            <a href="#" class="d-block  p-1" [routerLink]="['/workshops/update', workshop?.id]" data-bs-toggle="tooltip"
                data-bs-placement="top" title="تعديل"><img width="24" src="icons/29.svg" alt=""></a>
        </div>
        <div class="col p-0 border-end mb-2">

            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="bg-transparent p-0 border-0" (click)="openModel('rescheduling',workshop)">
                <img width="24" src="icons/38.svg" alt="">
            </button>
            <!-- disable-this -->
            <!-- <button data-bs-toggle="modal" data-bs-target="#modal" class="d-block  p-1" data-bs-toggle="tooltip"
                data-bs-placement="top" title="غير ممكن اعادة الجدولة "><img
                    width="24" src="icons/38.svg" alt=""></button> -->
        </div>
        <div class="col p-0 border-end mb-2">
            <a href="dashboard_workshops_content.html" [routerLink]="[workshop?.id, 'requirements']"
                class="d-block  p-1" data-bs-toggle="tooltip" data-bs-placement="top" title=" متطلبات الورشة"><img
                    width="24" src="icons/30.svg" alt=""></a>
        </div>
        <div class="col p-0 border-end mb-2">
            <a href="#" class="d-block  p-1" [routerLink]="[workshop?.id, 'enrollments']" data-bs-toggle="tooltip"
                data-bs-placement="top" title="المتدربين"><img width="24" src="icons/31.svg" alt=""></a>
        </div>

        <div class="col p-0 mb-2">
            <button type="button" class="bg-transparent p-0 border-0" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="openModel('delete',workshop)">
                <img width="24" src="icons/32.svg" alt="">
            </button>
            <!-- <a aria-label="link" href="#" class="d-block  p-1" data-bs-toggle="modal" (click)="openModel('delete')"
                data-bs-target="#exampleModal"><img width="24" src="icons/32.svg" alt="" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="حذف"></a> -->
        </div>
    </div>
</div>