<div class="container-fluid">
  <div class="row ncgr-r01">
    <div class="container-xxl">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <span class="hide-on-collapse">
            <img src="date-outline-icon.svg" alt="" />
            <span class="d-inline-block ps-1">الثلاثاء 08 أبريل 2025</span>
          </span>
        </div>

        <div class="col-auto">
          <span class="hide-on-collapse">
            <a
              class="d-inline-block p-2"
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="تغيير اللون"
              ><img src="icon-eye.png" alt=""
            /></a>
            <a
              class="d-inline-block p-2"
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="تكبير الخط"
              ><img src="icon-zoom-in.png" alt=""
            /></a>
            <a
              class="d-inline-block p-2"
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="تصغير الخط"
              ><img src="icon-zoom-out.png" alt=""
            /></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
