<section class="create_program mt-4 mb-4">
    <div class="container">
        <div class="dashboard_pg_sec">
            <div class="dashboard_link_sec">
                <app-side-bar></app-side-bar>
            </div>
            <div class="dashboard_cards_sec">
                <app-search-filter></app-search-filter>
                <div class="row">
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                    <div class="col-md-3 mt-4">
                        <app-workshops-card></app-workshops-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
