<section class="create_program mt-4 mb-4">
    <div class="container-xxl">
        <div class="d-flex gap-4">
            <div class="not-found-container my-5">
                <div class="not-found-content">
                    <div class="not-found-message"></div>
                    <div class="not-found-desc">
                        مرحبا بك في لوحة التحكم الخاصى بالمنصة التعليمية للمركز الوطني لنظم الموارد الحكومية
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>