<div [class]="styleClass">
    @if (label) {
      <label [for]="id" class="form-label">
        {{ label }}
        @if(required){
          <span class="text-danger">*</span>
        }
      </label>
    }
    
    <input 
      [id]="id"
      type="date"
      class="form-control"
      [placeholder]="placeholder || ''"
      [disabled]="disabled"
      [min]="minDate"
      [max]="maxDate"
      [value]="formattedValue"
      (input)="onDateChange($event)"
      (blur)="onTouched()"
      [ngClass]="{
        'is-invalid': control?.touched && control?.invalid
      }"
    />
    
    <!-- Validation Messages -->
    <field-validation [control]="control" />
  </div>