 <div class="container-fluid">
        <div class="row ncgr-main-area dashboard-pages">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-12 d-flex">
                       <app-side-bar></app-side-bar>
                        <main class="main-content ps-4">
                            <!-- Dashboard Pges Content | start -->
                            <!-- Content | start -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a>الرئيسية</a></li>
                                    <li class="breadcrumb-item"><a> البرامج العامة </a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> المحتوى التدريبي </li>
                                </ol>
                            </nav>
                            <div class="row mt-4 align-items-center justify-content-between">
                                <div class="col-auto">
                                    <h1 class="mb-2"> المحتوى التدريبي </h1>
                                    <h5> البرنامج العام: دبلوم الحوكمة المؤسسية </h5>
                                </div>
                                <div class="col-auto add-workshop-item">
                                    <button class="btn btn-primary ps-3 pe-3" type="submit" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false"><img width="18" src="21.svg" alt=""> اضافة محتوي  </button>

                                    <ul class="dropdown-menu  shadow animate slideIn add-workshop-session-menu" aria-labelledby="dropdownUser2">

                                        <li>
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal01">
                                                <img src="97.svg" width="20" alt="">
                                                <span> برنامج تدريبي </span>
                                            </a>

                                        </li>


                                        <li>
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal02">
                                                <img src="98.svg" width="20" alt="">
                                                <span> ورشة تدريبية</span>
                                            </a>

                                        </li>


                                    </ul>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-12">
                                    <!-- workshop Item -->
                                    <div class="row programs_content_section_workshop-session justify-content-between align-items-center">
                                        <div class="col-auto section-workshop-session-title-side">



                                            <span class="d-inline-block ps-1 pe-2 section-workshop-session-title">
                                                <span class="section-workshop-session-title-img" data-bs-toggle="tooltip" data-bs-placement="top" title="  برنامج تدريبي " >
                                                <img  src="97.svg"  width="30" alt="">
                                                </span>
                                            <span class="ps-1 fw-500">
                                                أساسيات الامتثال المؤسسي 


                                                </span>
                                            <span class="section-workshop-session-tag">برنامج تدريبي</span>

                                            </span>



                                        </div>
                                        <div class="col-auto section-workshop-session-icons-side">

                                            <span class="d-inline-block workshop-session-date" data-bs-toggle="tooltip" data-bs-placement="top" title=" تاريخ البدء والانتهاء">
                                                2025/02/01
                                                <img src="27.svg" width="20" alt="">
                                                2025/02/15
                                            </span>

                                            <span class="d-inline-block ps-2 pe-2">|</span>

                                            <a title="link" class="section-workshop-session-icons-view d-inline-block pe-2">

                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title=" الانتقال الي صفحة البرنامج" src="99.svg" width="24" alt="">
                                            </a>

                                            <a title="تعديل" data-bs-toggle="modal" data-bs-target="#exampleModal01" class="d-inline-block pe-2 section-workshop-session-icons-edit">
                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="تعديل" src="78.svg" width="24" alt="">
                                            </a>

                                            <a title="link" data-bs-toggle="modal" data-bs-target="#exampleModal03" class="d-inline-block pe-1">
                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="حذف" src="79.svg" width="24" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <!-- workshop Item -->
                                    <div class="row programs_content_section_workshop-session justify-content-between align-items-center">
                                        <div class="col-auto section-workshop-session-title-side">



                                            <span class="d-inline-block ps-1 pe-2 section-workshop-session-title">
                                                <span class="section-workshop-session-title-img" data-bs-toggle="tooltip" data-bs-placement="top" title="ورشة تدريبية" >
                                                <img  src="98.svg"  width="30" alt="">
                                                </span>
                                            <span class="ps-1 fw-500">
                                                أدوات قياس الأداء المؤسسي                                                
                                            </span>
                                            <span class="section-workshop-session-tag"> ورشة تدريبية</span>
                                            <span class="section-workshop-session-tag"> حضورية</span>


                                            </span>



                                        </div>
                                        <div class="col-auto section-workshop-session-icons-side">

                                            <span class="d-inline-block workshop-session-date" data-bs-toggle="tooltip" data-bs-placement="top" title=" تاريخ البدء والانتهاء">
                                                2025/02/20
                                                <img src="27.svg" width="20" alt="">
                                                2025/02/25
                                            </span>

                                            <span class="d-inline-block ps-2 pe-2">|</span>

                                            <a title="link" class="section-workshop-session-icons-view d-inline-block pe-2">

                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title=" الانتقال الي صفحة الورشة" src="99.svg" width="24" alt="">
                                            </a>

                                            <a title="تعديل" data-bs-toggle="modal" data-bs-target="#exampleModal02" class="d-inline-block pe-2 section-workshop-session-icons-edit">
                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="تعديل" src="78.svg" width="24" alt="">
                                            </a>

                                            <a title="link" data-bs-toggle="modal" data-bs-target="#exampleModal03" class="d-inline-block pe-1">
                                                <img data-bs-toggle="tooltip" data-bs-placement="top" title="حذف" src="79.svg" width="24" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Modal | Delete item -->
                            <div class="modal fade" id="exampleModal03" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel0000"><img width="32" src="33.svg" alt=""> تأكيد الحذف

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>هل أنت متأكد من رغبتك في حذف المحتوي "برنامج: أساسيات الامتثال المؤسسي" ؟</p>
                                            <p>سيتم حذف هذا المحتوي وما يحتويه بشكل دائم ولن تتمكن من استعادته. </p>
                                            <p>اضغط "تأكيد الحذف" لإكمال العملية أو "إلغاء" للتراجع. </p>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary me-2 ps-4 pe-4" data-bs-dismiss="modal">تأكيد</button>
                                            <button type="button" class="btn btn-outline-secondary ps-4 pe-4" data-bs-dismiss="modal">إلغاء</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- toasts  | Add Content | Success -->
                            <div class="position-fixed top-0 start-0 p-3 z-index-11">
                                <div id="liveToast01" class="toast hide toast-1" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <img src="37.svg" width="24" class="rounded me-2" alt="...">
                                        <strong class="me-auto">تم بنجاح</strong>

                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        تم اضافة محتوي بنجاح
                                    </div>
                                </div>
                            </div>

                            <!-- Modal | Add Content | workshop -->
                            <div class="modal  fade add-Content-mod" id="exampleModal02" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe1sl000"><img width="32" src="98.svg" alt=""> اضافة ورشة تدريبية

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">


                                                    <div class="fw-500 mb-3 mt-2">نوع الورشة</div>
                                                    <hr class="mb-4 ">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col-12">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                                <label class="form-check-label fw-500" for="inlineRadio1">ورشة الكترونية</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
                                                                <label class="form-check-label fw-500" for="inlineRadio2">ورشة حضورية</label>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="fw-500 mb-3 mt-4">اختر الورشة التدريبية</div>
                                                    <hr class="mb-3">

                                                    <div class="pt-2">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>الورش التدريبية </option>
                                                            <option value="1">تطوير مهارات إعداد التقارير الرقابية

                                                            </option>
                                                            <option value="2">التدقيق والرقابة الداخلية

                                                            </option>
                                                            <option value="3">أساسيات الامتثال المؤسسي

                                                            </option>
                                                            <option value="4"> تعزيز الشفافية في القطاع الحكومي

                                                            </option>
                                                          </select>
                                                    </div>

                                                    <div class="fw-500 mb-3 mt-4"> المدي الزمني</div>
                                                    <hr class="mb-4">
                                                    <div class="row align-items-center justify-content-between">


                                                        <div class="col-6 me-0 pe-0">
                                                            <label for="exampleFormConsstrolInput881" class="form-label fs-6">تاريخ البدء</label>
                                                            <input type="date" class="form-control" id="exampleFormConsstrolInput881" placeholder="ادخل تاريخ البدء">
                                                        </div>
                                                        <div class="col-6 me-0 pe-0">
                                                            <label for="exampleFormConsstrolInput8081" class="form-label fs-6"> تاريخ الانتهاء</label>
                                                            <input type="date" class="form-control" id="exampleFormConsstrolInput8081" placeholder="ادخل تاريخ الانتهاء">
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="toastbtn" class="btn btn-primary me-2 ps-4 pe-4" data-bs-dismiss="modal">اضافة</button>
                                            <button type="button" class="btn btn-outline-secondary ps-4 pe-4" data-bs-dismiss="modal">إلغاء</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- toasts  | Add Content | Success -->
                            <div class="position-fixed top-0 start-0 p-3 z-index-11">
                                <div id="liveToast2" class="toast hide toast-2" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <img src="37.svg" width="24" class="rounded me-2" alt="...">
                                        <strong class="me-auto">تم بنجاح</strong>

                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        تم اضافة محتوي بنجاح
                                    </div>
                                </div>
                            </div>

                            <!-- Modal | Add Content | Program -->
                            <div class="modal  fade add-Content-mod" id="exampleModal01" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe1sl0000"><img width="32" src="97.svg" alt=""> اضافة برنامج تدريبي

                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">


                                                    <div class="fw-500 mb-3 mt-2">اختر البرنامج التدريبي</div>
                                                    <hr class="mb-3">

                                                    <div class="pt-2">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>البرامج التدريبية</option>
                                                            <option value="1">تطوير مهارات إعداد التقارير الرقابية

                                                            </option>
                                                            <option value="2">التدقيق والرقابة الداخلية

                                                            </option>
                                                            <option value="3">أساسيات الامتثال المؤسسي

                                                            </option>
                                                            <option value="4"> تعزيز الشفافية في القطاع الحكومي

                                                            </option>
                                                          </select>
                                                    </div>

                                                    <div class="fw-500 mb-3 mt-4"> المدي الزمني</div>
                                                    <hr class="mb-4">
                                                    <div class="row align-items-center justify-content-between">


                                                        <div class="col-6 me-0 pe-0">
                                                            <label for="exampleFormConsstrolInput881" class="form-label fs-6">تاريخ البدء</label>
                                                            <input type="date" class="form-control" id="exampleFormConsstrolInput881" placeholder="ادخل تاريخ البدء">
                                                        </div>
                                                        <div class="col-6 me-0 pe-0">
                                                            <label for="exampleFormConsstrolInput8081" class="form-label fs-6"> تاريخ الانتهاء</label>
                                                            <input type="date" class="form-control" id="exampleFormConsstrolInput8081" placeholder="ادخل تاريخ الانتهاء">
                                                        </div>

                                                    </div>




                                                </div>
                                            </div>



                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="toastbtn2" class="btn btn-primary me-2 ps-4 pe-4" data-bs-dismiss="modal">اضافة</button>
                                            <button type="button" class="btn btn-outline-secondary ps-4 pe-4" data-bs-dismiss="modal">إلغاء</button>

                                        </div>
                                    </div>
                                </div>
                            </div>








                            <!-- Content | end -->
                            <!-- Dashboard Pges Content | End -->
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>