<section class="create_program mt-4 mb-4">
  <div class="container row">
    <div class="dashboard_link_sec col-2">
      <app-side-bar></app-side-bar>
    </div>
    <!-- content page here  -->
    <!-- Content | start -->

    <div class="col-10 mt-4">
      <div class="mb-4">
        <div class="breadcrumb_inner">
          <ul>
            <li class="link_page">
              <a href="">الرئيسية</a> <img src="arrow_bread.svg" alt="" />
            </li>

            <li>الملف الشخصي</li>
          </ul>
        </div>
      </div>
      <div class="col-auto user-main-data-card admin">
        <div class="row">
          <div class="col-auto profile-photo-side">
            <img src="avatar-img.png" alt="" />
          </div>
          <div class="col-auto profile-data-side">
            <div class="profile-user-full-name pb-1">
              عبد الله محمد خالد السعيد
            </div>
            <div class="pb-1">1092839019</div>
            <div class="profile-user-side-tags-item">مدير المنصة</div>
          </div>
        </div>
        <div class="row p-0 pt-3 profile-user-meta-data">
          <div class="col-md-6 mb-3">
            <img
              class="pe-1"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="الفئة المستهدفة "
              src="assets/img/icons/57.svg"
              width="28"
              alt=""
            />
            <span class="d-inline-block"> القطاع الحكومي </span>
          </div>
          <div class="col-md-6 mb-3">
            <img
              class="pe-1"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="محل العمل"
              src="assets/img/icons/58.svg"
              width="28"
              alt=""
            />
            <span class="d-inline-block">
              المركز الوطني لنظم الموارد الحكومية
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <img
              class="pe-1"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="البريد الالكتروني"
              src="assets/img/icons/59.svg"
              width="28"
              alt=""
            />
            <span class="d-inline-block"> abdullah&#64;email.com </span>
          </div>
          <div class="col-md-6 mb-3">
            <img
              class="pe-1"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="الهاتف "
              src="assets/img/icons/60.svg"
              width="28"
              alt=""
            />
            <span class="d-inline-block">
              <span class="dir-ltr d-inline-block">+966 543829018 </span>
            </span>
          </div>
          <div class="row mb-3 align-items-center">
            <div class="col-auto">
              <img
                class="pe-1"
                src="assets/img/icons/61.svg"
                width="28"
                alt=""
              />
              <span class="d-inline-block"> اللغة المفضلة: </span>
            </div>
            <div class="col-auto p-0">
              <select class="form-select" aria-label="Default select example">
                <option value="1" selected>العربية</option>
                <option value="2">الانجليزية</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end code    -->
  </div>
</section>
